.header {
    background-color: #595d29;
    color: white;
    position: relative;
    overflow: hidden;
}

.header img {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 75px;
    height: auto;
    margin-bottom: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #ede7b3;
}

p {
    font-size: 20px;
}

.caption {
    color: lightslategrey;
    text-decoration: underline;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.fit {
    width: 99%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    display: flex;
    align-items: center;
}

.text-container {
    flex: 1;
    margin-left: 10px;
}

.scrolling-text {
    white-space: normal;
    overflow: hidden;
    width: 70%;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px;
}

.text_center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
    font-weight: bold;
    width: 50%;
}
.full {
    width: 100%;
}

.card_text {
    margin-left: 100px;
    margin-right: 100px;
}